$color-primary: #1C1C1C;
$color-secondary: #DADDD8;
$color-accent: #ECEBE4;
$color-neutral: #EEF0F2;
$color-background: #FAFAFF;

$color-danger: #FF4D4F;

$font-medium: 16px;
$font-large: 20px;
$font-small: 12px;

$title-font-size: 24px;
$subtitle-font-size: 20px;
$body-font-size: 16px;
$heading-font-size: 32px;


$padding-medium: 16px;
$padding-large: 24px;
$padding-small: 8px;
$padding-btn: 10px 24px;


$margin-medium: 16px;
$margin-large: 24px;
$margin-small: 8px;

$border-radius: 4px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
